<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>
	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-3">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>


						<div class="container text-center">
							<img class="" style="width: 80px" th:src="@{/images/verify.png}"
								alt="" />
						</div>
						<h1 class="text-center">Register here</h1>

						<form novalidate="novalidate" th:action="@{/do_register}"
							method="post" th:object="${user}">
							<div class="form-group">
								<label for="name_field">Your Name</label> <input type="text"
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid': '' }"
									class="form-control" id="name_field" name="name"
									th:value="${user.name}" aria-describedby="emailHelp"
									placeholder="Enter your name" required />

								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>

							</div>



							<div class="form-group">
								<label for="email_field">Your Email</label> <input type="email"
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid':'' }"
									class="form-control" id="email_field" name="email"
									th:value="${user.email}" aria-describedby="emailHelp"
									placeholder="Enter your email" required>

								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>

							</div>

							<div class="form-group">
								<label for="password_field">Your Password</label> <input
									type="password" class="form-control" id="password_field"
									name="password" aria-describedby="emailHelp"
									placeholder="Enter your password" required>
							</div>

							<div class="form-group">
								<label for="about_field">About you</label>
								<textarea name="about" th:text="${user.about}"
									class="form-control" row="10" placeholder="Enter Something"
									id="about_field"></textarea>
							</div>

							<div class="form-group form-check text-center">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept terms
									and conditions</label>
							</div>

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning text-white">Reset</button>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>

	</section>

</body>
</html>